@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;

.wrapper {
  
  margin-right: 8px;
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  width: 164px;
  margin-left: 7.5px;
  &_hr {
    margin: 9px 9px 0 36px;
    padding-top: 9px;
    border-top: 1px solid #dce1e6;
  }

 
}

